.open-agenda {
  padding: 1rem;
}

.open-agenda__container {
  padding: 1rem;
  max-width: 740px;
  margin: 0 auto;
  min-height: calc(100vh - (50px + 2rem));
  box-shadow: $thm-bs-1;
  background-color: $thm-light;
}